.subnav {
 opacity: 0.8;
}

.fix-top {
  position: fixed;
  top: 0px;
  width: 940px; 
}

#overview-div {
  width: 50%;
}

#content p {
  font-size: 15px;
  text-align: justify;
}

h1 a:hover {
  text-decoration: none;
  color: #444;
}
